body {
	margin: 0;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: #000000;
	background: linear-gradient(45deg, #000000 35%, #00edff 50%, #000000 65%);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

main {
	padding: 50px;
}

.app {
	width: 450px;
	height: max-content;
	background-color: #c4e0f7;
	padding-bottom: 25px;
	border: 2px solid black;
	border-radius: 5px;
	position: absolute;
}

.appBar {
	height: 20px;
	display: flex;
	background-color: #007d86;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 2px;
	padding-right: 4px;
	border-bottom: 2px solid black;
	cursor: default;
}

.name {
	text-align: left;
	margin-left: 5px;
}

.exit {
	width: min-content;
	margin: 0;
	text-align: right;
}

#taskbar {
	margin-top: auto;
	padding-left: 10px;
	position: sticky;
	display: flex;
	flex-direction: row;
	background-color: #00eeff42;
	height: 60px;
}

.app-icons {
	display: block;
	width: 50px;
	height: 50px;
	margin-right: 6px;
	margin-top: 4px; 
}

.app-icons:hover {
	transform: scale(1.05);
}

.app-icons:active {
	transform: scale(1);
}
